.footerContainer {
  background-color: #505050;
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  position: relative;
  padding: 50px 50px 100px 50px;

  .section1 {
    width: 0;
    flex-grow: 1.2;
    h1 {
      font-size: 40px;
      color: #e4743b;
      margin-bottom: 23px;
    }
    p {
      line-height: 35px;

      font-size: 20px;
      color: white;
    }
    .socialLinks {
      margin-top: 70px;

      .images {
        display: inline;
      }
      div:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
  .section2 {
    flex-grow: 1;
    width: 0;
    padding-left: 20px;

    h2 {
      color: #e4743b;
      margin-bottom: 35px;
    }
    ul {
      list-style-type: none;
      li {
        font-size: 20px;
        color: white;
        line-height: 30px;
        margin-top: 10px;
      }
    }
  }
  .section3 {
    flex-grow: 1;
    width: 0;

    h2 {
      color: #e4743b;
      margin-bottom: 35px;
    }
    .quickLinks {
      display: flex;
      flex-direction: column;
    }
    a {
      font-size: 20px;
      color: white;
      line-height: 30px;
      margin-top: 10px;
    }
  }
  .section4 {
    width: 0;
    flex-grow: 1;
    h2 {
      color: #e4743b;
      margin-bottom: 35px;
    }
    .info {
      list-style-type: none;
      font-size: 20px;
      color: white;
      line-height: 30px;

      li {
        margin-top: 40px;
        display: flex;
        align-items: center;
        span {
          display: inline-block;
          min-height: 30px;
          min-width: 30px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: 10px;
        }
      }
    }
  }
  .copyright {
    background-color: #ebebeb;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #505050;
    height: 50px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    text-align: center;
    .section1,
    .section2,
    .section3,
    .section4 {
      width: fit-content;
      margin-top: 30px;
    }
    .copyright {
      font-size: 18px;
    }
  }
}
